:root {
  --color-light-blue: #92cccd;
  --color-black: #31343d;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial;
}

header {
  padding: 10px 35px 10px 0;
  background: var(--color-black);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  background-color: var(--color-light-blue);
  color: var(--color-black);
  font-size: 45px;
  padding: 0 10px 0 40px;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  margin: 0 10px;
  border-bottom: 5px solid var(--color-light-blue);
}

header nav ul li a {
  margin: 0;
  padding: 10px 5px;
  text-decoration: none;
  text-align: center;
  color: var(--color-light-blue);
  font-size: 1.55vw;
}

h1 {
  font-size: 200%;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
}

main {
  display: flex;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
}

section {
  flex: 1 1 0;
  padding-right: 5%;
}

article {
  border-bottom: 1px solid #d8a47f;
}

article p {
  margin: 2% 0;
  font-size: 110%;
}

article ul {
  margin-left: 5%;
  font-size: 110%;
  list-style: circle;
}

aside {
  width: 25%;
}

aside h2 {
  font-size: 150%;
}

input, button {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
}

.resources .links{
  display: none;
}

.resources:hover .links {
  display: block
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}

/* 
What does the flex-direction property define?
What is it doing here? 
TODO: Write your answer here 
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
