:root {
  --color-borders: #92cccd;
  --color-black: #31343d;
  --color-section-title: #445876;
  --color-background: #ededf6;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial;
  background-color: var(--color-background);
}

header {
  padding: 10px 35px 10px 0;
  background: var(--color-black);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  background-color: var(--color-borders);
  color: var(--color-black);
  font-size: 45px;
  padding: 0 10px 0 40px;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  margin: 10px 10px;
  border-bottom: 5px solid var(--color-borders);
}

header nav ul li a {
  margin: 0;
  padding: 10px 5px;
  text-decoration: none;
  text-align: center;
  color: var(--color-borders);
  font-size: 24px;
}

main {
  margin: 2% auto;
}

.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

.section-title {
  width: 15.5%;
  font-size: 200%;
  text-align: right;
  margin: 3.5% 3.5% 3.5% 0;
  color: var(--color-section-title);
}

/* Having the border on the section content instead of the section title is an artifact of my initial
attempt to get the border to be long enough. This came from before I added the 'align-items: stretch' declaration
to .section */

.section-content {
  width: 68%;
  margin: 3.5% 3.5% 3.5% 0;
  border-left: 5px solid var(--color-section-title);
  padding-left: 6%;
}

.section-content p {
  margin: 2% 0;
  font-size: 110%;
}

#other-applications {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.deployed-application {
  position: relative;
  width: 49%;
}

.deployed-application a img {
  width: 100%;
  border: 5px solid var(--color-borders);
  opacity: 0.75;
}

.deployed-application a img:hover {
  opacity: 1;
}

.deployed-application div {
  background-color: var(--color-borders);
  position: absolute;
  left: 5px;
  bottom: 30px;
  padding: 8px;
  line-height: 1.3;
}

.deployed-application div h3 {
  font-size: 25px;
}

.deployed-application div h4 {
  font-weight: lighter;
  font-size: 15px;
}

#first-application {
  position: relative;
  width: 100%;
}

#first-application a img {
  width: 100%;
  border: 5px solid var(--color-borders);
}

#contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}

#contact-info h3, #contact-info a {
  border-bottom: 5px solid var(--color-section-title);
  padding: 0 5px;
  margin: 10px 10px;
}

@media screen and (max-width: 980px) {
  header {
    display: block;
    padding: 10px 35px 10px 35px;
  }

  header h1 {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
  }

  header nav ul {
    padding: 0;
  }

  .section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    border-bottom: 5px solid var(--color-section-title);
    width: 50%;
    text-align: center;
    margin: 0;
  }

  .section-content {
    border: none;
    width: 80%;
    padding: 0;
    margin: 3.5%;
  }
}

@media screen and (max-width: 768px) {
  .deployed-application div {
    bottom: 5px;
  }

  .deployed-application div h3 {
    font-size: 15px;
  }
  
  .deployed-application div h4 {
    font-size: 10px
  }

  #contact-info {
    flex-direction: column;
    align-items: center;
  }
}